.footer {
    position:fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #119DA4;
    color: #040404;
    padding: 1rem 1.5rem;
    
  }
  
  .footer-left p {
    margin: 0;
  }
  
  .footer-right ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .footer-right li {
    margin-left: 1rem;
  }
  
  .footer-right a {
    color: #040404;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-right a:hover {
    color: #d4d4d4;
  }